<template>
  <svg :x="col * cellSize" y="0">
    <g @click="drop(col)" class="column">
      <board-checker
        v-for="checker in checkers"
        :key="key(checker)"
        :checker="checker"
        :cellSize="cellSize"
        :rowCount="rowCount"
        :checkerRadius="checkerRadius"
        :status="status"
        @land="land" />
      <rect
        :key="col"
        :col="col"
        :width="cellSize"
        :height="boardHeight"
        :fill="color"
        :fill-opacity="opacity"
        :mask="mask" />
    </g>
  </svg>
</template>

<script>
import BoardChecker from './BoardChecker'
import { Bus, OVER } from '../utils'

export default {
  props: [
    'checkers',
    'col',
    'color',
    'cellSize',
    'boardHeight',
    'checkerRadius',
    'rowCount',
    'mask',
    'status'
  ],

  components: {
    BoardChecker
  },

  computed: {
    nextOpenRow () {
      // eslint-disable-next-line
      console.log(this.col)
      return Math.max(...this.checkers.map(c => c.row).concat(-1)) + 1
    },

    opacity () {
      return (this.status === OVER) ? 0.2 : 1.0
    }
  },

  methods: {
    key ({ row, col }) {
      return `${row}${col}`
    },

    drop () {
      const col = this.col
      const row = this.nextOpenRow

      if (row < this.rowCount) {
        Bus.$emit('drop', { row, col })
      } else {
        // eslint-disable-next-line
        console.log('cannot drop', { row, col })
      }
    },

    land () {
      Bus.$emit('land')
    }
  },

}
</script>

