<template>
  <svg
    width="350px"
    :viewBox="viewBox"
    xmlns="http://www.w3.org/2000/svg"
    class="game-board"
    stroke="none">
    <defs>
      <pattern
        :id="patternId"
        patternUnits="userSpaceOnUse"
        :width="cellSize"
        :height="cellSize">
        <circle :cx="cellSize / 2" :cy="cellSize / 2" :r="checkerRadius" fill="black"></circle>
      </pattern>
      <mask :id="maskId">
        <rect :width="cellSize" :height="boardHeight" fill="white"></rect>
        <rect :width="cellSize" :height="boardHeight" :fill="pattern"></rect>
      </mask>
    </defs>
    <board-column
      v-for="col in cols"
      :key="col"
      :checkers="colCheckers(col)"
      :col="col"
      :color="'cadetblue'"
      :cellSize="cellSize"
      :checkerRadius="checkerRadius"
      :boardHeight="boardHeight"
      :rowCount="rowCount"
      :mask="mask"
      :status="status"
      @drop="drop"
      @land="land" />
  </svg>
</template>

<script>
import BoardColumn from './BoardColumn'
import { cssUrl, range, Bus } from '../utils'

export default {
  props: [ 'checkers', 'rowCount', 'colCount', 'status' ],
  components: {
    BoardColumn
  },

  data () {
    return {
      patternId: 'cell-pattern',
      maskId: 'cell-mask',
      cellSize: 100,
    }
  },

  computed: {
    pattern () { return cssUrl(this.patternId) },
    mask () { return cssUrl(this.maskId) },

    rows () { return range(this.rowCount) },
    cols () { return range(this.colCount) },

    viewBox () {
      const boardWidth = this.colCount * this.cellSize
      const boardHeight = this.rowCount * this.cellSize
      return `0 0 ${boardWidth} ${boardHeight}`
    },

    boardWidth () { return this.colCount * this.cellSize },
    boardHeight () { return this.rowCount * this.cellSize },
    checkerRadius () { return this.cellSize * 0.45 }
  },

  methods: {
    colCheckers (col) {
      return Object.values(this.checkers)
        .filter(c => c.col === col)
        .sort((a,b) => a.row - b.row)
    },

    drop (data) {
      // eslint-disable-next-line
      console.log('dropped')
      Bus.$emit('drop', data)
    },

    land () {
      Bus.$emit('land')
    }
  }
}
</script>

<style lang="scss">
.game-board {
  border: 5px cadetblue solid;

  width: 350px;
  margin: 0 auto;
}
</style>
